<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <title>OSM Name-Fixer Changes Result</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v32.102/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    </head>

    <style>
        * {
            font-family: Vazirmatn, sans-serif!important;
            border-collapse:collapse;
        }
        .centered_div {
            position: absolute;
            transform: translate(-50%,-0%);
        }
        td, th{border:1px solid #ddd;padding:8px}
        tr:nth-child(even){background-color:#f2f2f2}
        tr:hover{background-color:#ddd}
        th{padding-top:12px;padding-bottom:12px;text-align:right;background-color:#4caf50;color:#fff}
        td{text-align:right}
    </style>

    <body>

    <div class="centered_div">
        <table>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Old Name</th>
                <th>New Name</th>
                <th>Open In Editor</th>
            </tr>
            {% for v in data %}
                <tr>
                    <td>{{ (data.index(v)+1) }}</td>
                    <td><center><a href= {{ "https://www.openstreetmap.org/{}/{}/history".format(v.originalDataType, v.originalDataiD) }}>{{ v.originalDataType }}/{{ v.originalDataiD }}</a></center></td>
                    <td>{{ v.originalDataName }}</td>
                    <td>{{ v.newDataName }}</td>
                    <td><center><a href= {{ "https://openstreetmap.org/edit?editor=id&zoom=17&{}={}".format(v.originalDataType, v.originalDataiD) }} target='_blank'>iD</a> | <a href= {{ "http://127.0.0.1:8111/load_object?new_layer=true&objects={}{}".format(v.originalDataTypeShort, v.originalDataiD) }} target='_blank'>JOSM</a></center></td>
                </tr>
            {% endfor %}

        </table>

        <br>
    </div>

    </body>
</html>

